/*=======================================================================
	
	URL 		    |		www.abuitrago.es
	
	Author Name		|		Antonio Buitrago
	
-------------------------------------------------------------------------
	CSS Structure
-------------------------------------------------------------------------
	
	01- Fuentes
	
=======================================================================*/


/*=======================================================================
	01. Fuentes
=======================================================================*/
/* ========================== Fuente MONTSERRAT ========================== */
@font-face {
    font-family: "SourceCodePro-Regular";
    src: url(../fonts/SourceCodePro-Regular.ttf);
}
@font-face {
    font-family: "SourceCodePro-Bold";
    src: url(../fonts/SourceCodePro-Bold.ttf);
}

